@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600;800&family=Lato&family=Share+Tech+Mono&display=swap");
:root,
html {
  margin: 0 auto;
  font-family: "Fira Sans", sans-serif;
  font-size: 1em;
  box-sizing: border-box;
  cursor: default;
}

#mainNav {
  background-color: rgb(249, 249, 249);
}
#mainNav .navbar-toggler i {
  right: 0;
  border: 0;
  background-color: none;
  color: #393E46;
  font-size: 1.5rem;
}
#mainNav .nav-brand {
  font-family: "Share Tech Mono", monospace;
  font-size: 1.05em;
  color: #D1512D;
  cursor: default;
}
#mainNav .navbar-nav .nav-item .nav-link {
  letter-spacing: 1px;
  color: #2D2424;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-size: 2.1vh;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #D1512D;
}
#mainNav .nav-link-grow-up {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
}
#mainNav .nav-link-grow-up:after {
  content: "";
  background: none repeat scroll 0 0 transparent;
  display: block;
  bottom: 0;
  left: 50%;
  position: absolute;
  background: #D1512D;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  height: 2px;
}
#mainNav .nav-link-grow-up:hover:after {
  width: 100%;
  left: 0;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: transparent;
    transition: all 0.3s;
  }
  #mainNav.navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #FFFFFF;
  }
  #mainNav.navbar-shrink {
    font-size: 1.25em;
    padding: 10px 0;
  }
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  letter-spacing: 0.7px;
  z-index: 1;
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
.banner .avatar {
  width: 12em;
  height: 12em;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  animation: float 6s ease-in-out infinite;
  justify-content: center;
}
.banner .avatar img {
  width: 100%;
  height: auto;
}
.banner .banner-content p {
  white-space: nowrap;
  overflow: hidden;
  margin: 1vh;
}
.banner .banner-content p.banner-subheader {
  font-size: 1.35em;
  font-family: "Fira Sans", sans-serif;
  color: #2D2424;
}
.banner .banner-content p.banner-header {
  font-size: 3.5rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  color: #D1512D;
}
.banner .banner-social a {
  display: inline-block;
  padding: 5px 10px;
  border: 0;
  text-align: center;
  border-radius: 2vh;
  background-color: rgba(209, 81, 45, 0.2);
  color: #2D2424;
  font-size: 1.5em;
  margin: 0.67vh;
}
.banner .banner-social a:hover {
  animation: pulse 0.3s forwards;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

.about {
  position: relative;
  transform: translateY(150px);
  padding: 1em;
  transition: 1s all ease;
}
.about .about-description {
  font-family: "Fira Sans", sans-serif;
  color: #2D2424;
  font-size: 1.05em;
  padding-inline: 2em;
  letter-spacing: 0.7px;
  text-align: left;
}
.about.active {
  transform: translateY(0);
  opacity: 1;
}
.about.card, .about.card-body {
  box-shadow: 0 3px 10px rgba(255, 186, 186, 0.2);
  z-index: 1;
}
.about .about-subdescription p {
  padding-inline: 3em;
  font-family: "Fira Sans", sans-serif;
  text-align: right;
}
.about .about-subdescription .img-coffee {
  width: 20px;
  height: 20px;
}
.about .about-img img {
  width: 100px;
  height: 100px;
  background-size: contain;
}

.timeline {
  position: relative;
  overflow-x: hidden;
}
.timeline::before {
  content: "";
  background: #DDDDDD;
  width: 2px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
  left: auto;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
  content: "";
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.3);
  font-family: "Fira Sans", sans-serif;
}
.timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}
.timeline-content .timeline-caption {
  font-weight: bold;
  text-transform: uppercase;
  color: #D1512D;
}
.timeline-content .timeline-school {
  padding: 0 20px;
  margin: 0;
}
.timeline-content .timeline-location {
  padding: 0 20px;
  font-style: italic;
  color: #7F8487;
  font-size: 0.9em;
}
.timeline-content .timeline-awards p {
  color: #393E46;
  font-weight: 600;
  margin-top: 2em;
}
.timeline-content .timeline-awards ul {
  list-style: none;
}
.timeline-content .timeline-awards ul li::before {
  content: "✽";
  color: #B3541E;
  display: inline-block;
  margin: 1px;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #D1512D;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.timeline-card {
  padding: 0 !important;
}
.timeline-card p {
  padding: 0 20px;
}
.timeline-card a {
  margin-left: 20px;
}

.date {
  background: #393E46;
  display: inline-block;
  color: #DAD1CE;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .col-avatar {
    display: none;
  }
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}
/* ########### TOOLS USED SECTION ############## */
.tools {
  background-color: rgba(238, 238, 238, 0.6);
  padding: 2em;
}

.tools-section {
  position: relative;
  display: block;
}

.tools-heading {
  font-weight: 800;
  font-family: "Fira Sans", sans-serif;
  color: #483838;
}

.tool-line {
  height: 1vh;
  background-color: #D1512D;
}

.tools-body {
  margin-block: 1.15em;
}

.tools-subheading {
  font-size: 0.95em;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  color: #D1512D;
}

.badge.larger-badge {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.05em;
  padding: 10px;
  cursor: pointer;
  background-color: #EEEEEE;
  color: rgba(45, 36, 36, 0.9);
  font-weight: 600;
}

.list-group .badge {
  margin: 5px;
}

.list-group img {
  width: 1.15rem;
  height: 1.15rem;
  display: inline-block;
  filter: grayscale(100%);
  margin-right: 0.25em;
}

.list-group img:hover {
  filter: none;
}

/* ########### PROJECT ############## */
.custom-shape {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
}

.custom-shape .shape-fill {
  fill: #FFDCA9;
}

.hook-section {
  padding-top: 5em;
  text-align: center;
  background-color: #FFDCA9;
}

.hooksvg {
  background-color: #FFDCA9 !important;
}

.project-slide {
  background: #fff;
  margin: 20px 15px 20px;
  border-radius: 1.125em;
}

.project-slide .project-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: -10px 15px 8px 15px;
  margin-left: -0.625em;
}

.project-slide .project-img img {
  width: 100%;
  height: auto;
  transform: scale(1, 1);
  transition: transform 0.2s linear;
}

.project-slide:hover .project-img img {
  transform: scale(1.1, 1.1);
}

.project-slide .over-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(-45deg, rgba(255, 159, 69, 0.5) 0%, rgba(214, 125, 62, 0.4) 100%);
  transition: all 0.5s linear;
}

.project-slide:hover .over-layer {
  opacity: 1;
  text-decoration: none;
}

.project-slide .over-layer i {
  position: relative;
  display: block;
  color: #FFFFFF;
  font-size: 25px;
}

.project-slide .project-content {
  background: #fff;
  padding: 2px 20px 40px;
  border-radius: 15px;
}

.project-slide .project-title p {
  font-size: 0.57em;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  color: #2D2424;
  display: inline-block;
  text-transform: uppercase;
}

.project-slide .project-description {
  color: #808080;
  font-family: "Fira Sans", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
}

.project-slide .project-stack {
  color: #a9a9a9;
  font-size: 0.78em;
}

.project-slide .project-stack i {
  font-size: 1.124em;
  color: #FEBE8C;
}

.owl-controls .owl-buttons .owl-prev {
  background: #D1512D;
  position: absolute;
  top: -5%;
  left: 15px;
  padding: 0 18px 0 15px;
  border-radius: 50px;
  transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-next {
  background: #D1512D;
  position: absolute;
  top: -5%;
  right: 15px;
  padding: 0 15px 0 18px;
  border-radius: 50px;
  transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
  content: "\f284";
  font-family: "Bootstrap-icons";
  color: #FFFFFF;
  font-size: 1em;
}

.owl-controls .owl-buttons .owl-next:after {
  content: "\f285";
}

/* ########### CONTACT ############## */
.contact-heading {
  font-family: "Lato Sans", serif;
  font-size: 1.25em;
}
.contact-heading .underline {
  background-image: linear-gradient(120deg, #FF9F45 0%, #D67D3E 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.contact-heading .underline:hover {
  color: #2D2424;
  background-size: 100% 88%;
}

.contact {
  font-family: "Fira Sans", sans-serif;
}
.contact .card-body i {
  color: #D1512D;
  font-size: 1.25em;
}
.contact .card-title {
  font-weight: 600;
  color: #2D2424;
}

/* ########### EXTRA ############## */
.page-section {
  margin: 80px 0;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-heading {
  font-family: "Fira Sans", sans-serif;
  color: #D1512D;
  font-weight: 600;
  font-size: 2.015em;
  letter-spacing: 1px;
  padding: 0.75em;
  text-align: center;
}/*# sourceMappingURL=style.css.map */